body{
	background-color: gray;
	margin: 0;
}
header{
	overflow: auto;
}
nav{
	margin:0px;
	width: 100%;
	background-color: #000000;
	position: fixed;
	display: block;
	/*border: 1px dashed white;*/
	padding: 10px 3px;
}
#first{
	margin-left: 360px;
	
}
.home{
	overflow: auto;
	margin: 0rem;
}
#greet{
	float: left;
    color:white;
    font-family: sans-serif;
    /*padding: 8rem 0rem 0rem 60rem;*/
    /*padding: 15rem 0rem  0rem 5rem;*/
    margin: 100px 0px 0px 85px;
    font-size: 40px;
}
.name
{
	padding:150px 0px 0px 85px;
	font-size: 40px;
	font-family: verdana;
	color: white;
}
.name >span
{
	font-size:50px;
	font-weight:800; 
	color: lightyellow;
}
nav a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 10px 40px;
}
nav a{
	transition: all 0.3s ease 0s;
}
nav a:hover{
	color: orange;
	/*background-color: white;
	border-radius: 25px;
	/*padding: 20px 40px;*/
}
#divgreet{
	padding: 10px 0px 15px 0px;
	height: 475px;
	width: 60%;
	float: left;
	background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#imgdiv{
	overflow: hidden;
	height: 500px;
	width: 40%;
	display: inline-block;
	float: left;
}
#mypic{
	padding: 2.7rem 2rem 0rem 0rem;
	height: 100%;
	width: 100%;
}
#links{
	list-style-type: none;
	padding: 20px 0px 0px 80px;
}
.fab
{
	color: white;
}
#links >li
{
	display:inline;
	padding:0px 10px;
}
.fab:hover{
	color: orange;
}
.about_me{
	overflow: auto;
	margin: 0px;
	background-color: white;
}
#heading{
	margin-top: 8px;
	margin-bottom: 12px;
	text-align: center;
	color: black;
	font-weight: 150;
	font-size: 50px;
}
.divmatter{
	margin-left: 30px;
	margin-right: 30px;
}
#matter{
	color: black;
	font-size: 30px;
	margin-block-start:1px;
	margin-block-end:1px;
}

