body{
	background-color: gray;
	margin: 0;
}
header{
	overflow: auto;
}
nav{
	margin:0px;
	width: 100%;
	background-color: #24252A;
	position: fixed;
	display: block;
	border: 1px dashed white;
	padding: 10px 3px;
}
#first{
	margin-left: 360px;
	
}
.home{
	overflow: auto;
	margin: 0rem;
}
#greet{
	float: left;
    color:white;
    font-family: sans-serif;
    /*padding: 8rem 0rem 0rem 60rem;*/
    /*padding: 15rem 0rem  0rem 5rem;*/
    margin: 100px 0px 0px 85px;
    font-size: 40px;
}
.name
{
	padding:150px 0px 0px 85px;
	font-size: 40px;
	font-family: verdana;
	color: white;
}
.name >span
{
	font-size:50px;
	font-weight:800; 
	color: lightyellow;
}
nav a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 10px 40px;
}
nav a:hover{
	color: orange;
	background-color: white;
	/*
	background-color:  #a8ff78; 
  	background-color: -webkit-linear-gradient(to right, #a8ff78, #78ffd6); 
  	background-color: linear-gradient(to right, #a8ff78, #78ffd6);*/
	padding: 20px 40px;
}
#divgreet{
	padding: 10px 0px 15px 0px;
	height: 475px;
	width: 60%;
	float: left;
	background: #000428;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
#imgdiv{
	overflow: hidden;
	height: 500px;
	width: 40%;
	display: inline-block;
	float: left;
}
#mypic{
	padding: 2.7rem 2rem 0rem 0rem;
	height: 100%;
	width: 100%;
}
#links{
	list-style-type: none;
	padding: 20px 0px 0px 80px;
}
.fab
{
	color: white;
}
#links >li
{
	display:inline;
	padding:0px 10px;
}