body{
	background-color: gray;
	margin: 0;
}
header{
	overflow: auto;
}
nav{
	margin:0px;
	width: 100%;
	background-color: #000000;
	position: fixed;
	display: block;
	/*border: 1px dashed white;*/
	padding: 10px 3px;
}
#first{
	margin-left: 330px;
	
}
.home{
	overflow: auto;
	margin: 0rem;
}
#greet{
	float: left;
    color:white;
    font-family: sans-serif;
    /*padding: 8rem 0rem 0rem 60rem;*/
    /*padding: 15rem 0rem  0rem 5rem;*/
    margin: 100px 0px 0px 85px;
    font-size: 40px;
}
.name
{
	padding:150px 0px 0px 85px;
	font-size: 40px;
	font-family: verdana;
	color: white;
}
.name >span
{
	font-size:50px;
	font-weight:800; 
	color: lightyellow;
}
nav a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 10px 40px;
}
nav a{
	transition: all 0.3s ease 0s;
}
nav a:hover{
	color: orange;
	/*background-color: white;
	border-radius: 25px;
	/*padding: 20px 40px;*/
}
#divgreet{
	padding: 10px 0px 15px 0px;
	height: 475px;
	width: 60%;
	float: left;
	background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#imgdiv{
	overflow: hidden;
	height: 500px;
	width: 40%;
	display: inline-block;
	float: left;
}
#mypic{
	padding: 2.7rem 2rem 0rem 0rem;
	height: 100%;
	width: 100%;
}
#links{
	list-style-type: none;
	padding: 20px 0px 0px 80px;
}
.fab
{
	color: white;
	transition-duration: 0.5s;
}
#links >li
{
	display:inline;
	padding:0px 10px;
}
.fab:hover{
	color: orange;
	transform: rotate(350deg);
}
.about_me{
	overflow: auto;
	margin: 0px;
	background-color: rgba(255,255,255,0.7);
	color: rgba(0,0,0,0.5);
}
.about_me:hover{
	background-color: rgba(255,255,255,1);
}
#heading{
	margin-top: 8px;
	margin-bottom: 12px;
	margin-left: 43%;
	color: #000000;
	font-weight: 150;
	font-size: 40px;
}
.divmatter{
	margin-left: 60px;
	margin-right: 60px;
}
#matter{
	color: rgba(0,0,0,0.5);
	line-height: 36px;
	font-size: 20px;
	margin-block-start:1px;
	margin-block-end:1px;
}
#matter:hover{
	color: rgba(0,0,0,1);
}
#skillsheader{
	color: #ffffff;
	margin-top: 8px;
	margin-bottom: 12px;
	margin-left: 43%;
	font-weight: 150;
	font-size: 40px;
}
#skills{
	margin:0;
	overflow: auto;
	background-color: #f7f7f7;
	color: #343a40;
}



.space{

    /* Pass a comma separated list of backgrounds: */
    background:url('https://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/rocket_big.png') no-repeat center 70px, url('https://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/space.jpg') no-repeat bottom center;
    width:200px;
    height:200px;
    margin: 0 auto;

    border-radius:3px;

    /* Animate the positions of both of the backgrounds */
    transition:background-position 1s;
}

.space:hover{
    /* The same goes for properties like background-position and repeat */
    background-position:35% 20px, top right;
}